{% extends 'base.html' %}
{% block titulo %}Eliminar Producto | Pastelería{% endblock %}

{% block contenido %}
<h2>¿Estás seguro de que quieres borrar "{{ producto.nombre }}"?</h2>
<p>Esta acción no se puede deshacer.</p>
<form method="post">
    {% csrf_token %}
    <div class="actions">
        <button type="submit" class="btn btn-danger">Sí, Borrar</button>
        <a href="{% url 'app_productos:detalle_producto' producto.ID_producto %}" class="btn">Cancelar</a>
    </div>
</form>
{% endblock %}
